<div class=credit>
  <h3>Dancing Man courtesy of</h3>
  <h3>Jesper Nellemann Jakobsen's codepen</h3>
  <h3>and http://woot.co.uk/</h3>
</div>

<div class=box>
<h1>Wbib - List of References</h1>
Click on a topic below to view its reference
<br>

<% if @references.count == 0%>
  <h3>No Topics</h3>
<% else %>
  <table>
    <thead>
      <tr>
        <th><h2>Topic</h2></th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @references.each do |reference| %>
        <tr>
          <td><%= link_to reference.topic, reference %></td>
          <td><%= link_to 'Edit', edit_reference_path(reference) %></td>
          <td><%= link_to 'Destroy', reference, method: :delete, data: { confirm: "Are you sure you want to delete this topic: #{reference.topic}?"} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
<% end %>

<%= link_to 'New Reference', controller: "references", action: "new" %>
</div>
<br><br>
<br><br>
<br><br>
<div class="floor"></div>
<!-- thank you: http://woot.co.uk/ -->
<!-- thank you: http://loopable.files.wordpress.com/ -->
<img src="http://www.woot.co.uk/images/bitdance.gif" class="woot-dance" width="328" height="272" alt="8-bit dancing guy">
