<div class=box>
<h1>New Reference</h1>

<%= render 'form' %>

<%= link_to 'Back', references_path %>
</div>
<br><br>
<br><br>
<br><br>
<div class="floor"></div>
<!-- thank you: http://woot.co.uk/ -->
<!-- thank you: http://loopable.files.wordpress.com/ -->
<img src="http://www.woot.co.uk/images/bitdance.gif" class="woot-dance" width="328" height="272" alt="8-bit dancing guy">
